name: Test inputs
on:
  workflow_dispatch:
    inputs:
      DRYRUN:
        description: Dry run?
        default: false
        type: boolean
  push:
    branches: [main]
    paths: [.github/workflows/test-inputs.yml]

env:
  DRYRUN: ${{ inputs.DRYRUN && 'r' }}

jobs:
  run-job:
    runs-on: ubuntu-latest
    steps:
      - run: echo ${{ env.DRYRUN }}
      - shell: python
        run: |
          import os
          DRYRUN: str|None = os.getenv("DRYRUN")

          if DRYRUN:
            print('DRYRUN:', DRYRUN)

          if not DRYRUN:
            print('not DRYRUN')
          else:
            print('not DRYRUN:', DRYRUN)
