name: test vars
# run-name: test ${{ inputs.PERM }} ${{ inputs.TST }}

on:
  push:
    branches: [main]
    paths: [.github/workflows/test-vars.yml]
  # schedule:
  #   - cron: "*/5 * * * *" #every 5 mins
  workflow_dispatch:
    inputs:
      DRYRUN:
        description: dryrun
        default: true
        type: boolean

      # PERM:
      #   description: |
      #     Input permission:
      #     for
      #     something
      #       haha
      #   required: false
      #   type: choice
      #   options:
      #     - ''
      #     - 'read'
      #     - 'write'
      #     - 'admin'
      # TST:
      #   description: 'TST'
      #   required: true
      #   type: choice
      #   options:
      #     - 'Add or update'
      #     - 'Remove'

env:
  dryrun: ${{ inputs.DRYRUN && inputs.DRYRUN || false }}
  # PERM: ${{ inputs.PERM == 'read' && 'pull' ||
  #           inputs.PERM == 'write' && 'push' ||
  #           inputs.PERM == 'admin' && inputs.PERM }}

jobs:
  test-env-var:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "abc=12345" >> $GITHUB_ENV
          echo ${{ env.abc }}

  # test-env-var:
  #   runs-on: ubuntu-latest
  #   if: ${{ inputs.PERM == 'read' }}
  #   steps:
  #     - name: ${{ inputs.TST }}
  #       run: echo hello
  #     - if: github.event.inputs.PERM
  #       run: echo ${{ env.PERM }}
  #     - if: '!github.event.inputs.PERM'
  #       run: if [ -z "${{ inputs.PERM }}" ]; then echo err; fi
  #     - if: |
  #         github.event.inputs.PERM == 'read' ||
  #         github.event.inputs.PERM == 'write'
  #       run: echo read write
  #     - if: github.event.inputs.TST == 'Add or update'
  #       run: echo add or update
  #     - name: set ENV
  #       run: |
  #         echo "ABC_A=ABCA" >> $GITHUB_ENV
  #         echo "ABC_B=ABCB" >> $GITHUB_ENV
  #         echo "ABC_C=ABCC" >> $GITHUB_ENV
  #     - name: print ENV
  #       run: env | grep ABC_
  #     - run: |
  #         echo '| Parameters | Value |' >> $GITHUB_STEP_SUMMARY
  #         echo '| --- | --- |' >> $GITHUB_STEP_SUMMARY
  #         echo "${{ toJSON(github.event.inputs) }}" | tr -d ',{}' | grep -v '^$' |
  #           while read var; do
  #             echo "| $(tr ':' '|' <<< ${var}) |" >> $GITHUB_STEP_SUMMARY
  #           done
  #
  #
  # if-with-global-env:
  #   name: If with Global ENV
  #   runs-on: ubuntu-latest
  #
  #   steps:
  #     - name: Always run
  #       run: echo Always run
  #
  #     - name: If fail
  #       if: env.AA == 'aaaa'
  #       run: echo Should not run
  #
  #     - name: If pass
  #       if: env.AA == 'aaa'
  #       run: echo Should run
  #
  # if-with-local-env:
  #   name: If with Local ENV
  #   runs-on: ubuntu-latest
  #
  #   env:
  #     AAA: aaa
  #     BBB: bbb
  #
  #   steps:
  #     - name: Always run
  #       run: echo Always run
  #
  #     - name: If fail
  #       if: env.AAA == 'aaaa'
  #       run: echo Should not run
  #
  #     - name: If pass
  #       if: env.AAA == 'aaa'
  #       run: echo Should run
  #
  # vars:
  #   needs: [if-with-global-env, if-with-local-env]
  #   name: Set Variables
  #   runs-on: ubuntu-latest
  #
  #   steps:
  #     - name: Set output vars
  #       id: env_vars
  #       run: |
  #         echo Set Variables
  #         echo "VAR_A=hello" >> $GITHUB_OUTPUT
  #         echo "VAR_B=world" >> $GITHUB_OUTPUT
  #
  #   outputs:
  #     VAR_A: ${{ steps.env_vars.outputs.VAR_A }}
  #     VAR_B: ${{ steps.env_vars.outputs.VAR_B }}
  #
  # show-job-vars:
  #   needs: [vars]
  #   name: Show job vars
  #   runs-on: ubuntu-latest
  #
  #   env:
  #     VAR_A: ${{ needs.vars.outputs.VAR_A }}
  #     VAR_B: ${{ needs.vars.outputs.VAR_B }}
  #
  #   steps:
  #     - name: Output on Job level ENV
  #       run: |
  #         echo Show Variables
  #         echo \$VAR_A = $VAR_A
  #         echo \$VAR_B = $VAR_B
  #         echo env.VAR_A = ${{ env.VAR_A }}
  #         echo env.VAR_B = ${{ env.VAR_B }}
  #         echo needs.VAR_A = ${{ needs.vars.outputs.VAR_A }}
  #         echo needs.VAR_B = ${{ needs.vars.outputs.VAR_B }}
  #
  # show-step-vars:
  #   needs: [vars]
  #   name: Show step vars
  #   runs-on: ubuntu-latest
  #
  #   steps:
  #     - name: Output on Job level ENV
  #       env:
  #         VAR_A: ${{ needs.vars.outputs.VAR_A }}
  #         VAR_B: ${{ needs.vars.outputs.VAR_B }}
  #       run: |
  #         echo Show Variables
  #         echo \$VAR_A = $VAR_A
  #         echo \$VAR_B = $VAR_B
  #         echo env.VAR_A = ${{ env.VAR_A }}
  #         echo env.VAR_B = ${{ env.VAR_B }}
  #         echo needs.VAR_A = ${{ needs.vars.outputs.VAR_A }}
  #         echo needs.VAR_B = ${{ needs.vars.outputs.VAR_B }}
  #
  # test-ifs-step:
  #   needs: [vars, show-job-vars, show-step-vars]
  #   name: Test If STEP
  #   runs-on: ubuntu-latest
  #
  #   steps:
  #     # - name: Setup Env
  #     #   env:
  #     #     VAR_A: ${{ needs.vars.outputs.VAR_A }}
  #     #     VAR_B: ${{ needs.vars.outputs.VAR_B }}
  #     #   run: |
  #     #     echo \$VAR_A = $VAR_A
  #     #     echo \$VAR_B = $VAR_B
  #     #     echo env.VAR_A = ${{ env.VAR_A }}
  #     #     echo env.VAR_B = ${{ env.VAR_B }}
  #     #     echo needs.VAR_A = ${{ needs.vars.outputs.VAR_A }}
  #     #     echo needs.VAR_B = ${{ needs.vars.outputs.VAR_B }}
  #     #     echo "VAR_A=${{ needs.vars.outputs.VAR_A }}" >> $GITHUB_OUTPUT
  #     #     echo "VAR_B=${{ needs.vars.outputs.VAR_B }}" >> $GITHUB_OUTPUT
  #
  #     - name: If hit A and B
  #       if: |
  #         needs.vars.outputs.VAR_A == 'hello' &&
  #         needs.vars.outputs.VAR_B == 'world'
  #       run: |
  #         echo VAR_A $VAR_A
  #         echo VAR_B $VAR_B
  #         echo OK
  #
  #     - name: If hit A or B
  #       if: |
  #         needs.vars.outputs.VAR_A == 'helloooo' ||
  #         needs.vars.outputs.VAR_B == 'world'
  #       run: |
  #         echo VAR_A $VAR_A
  #         echo VAR_B $VAR_B
  #         echo OK
  #
  #     - name: If miss
  #       if: |
  #         needs.vars.outputs.VAR_A == 'helloooo'
  #       run: |
  #         echo VAR_A $VAR_A
  #         echo VAR_B $VAR_B
  #         echo MISSSSS
  #
  # test-ifs-jobs:
  #   needs: [vars,show-job-vars, show-step-vars]
  #   name: Test If JOB
  #   runs-on: ubuntu-latest
  #
  #   env:
  #     VAR_A: ${{ needs.vars.outputs.VAR_A }}
  #     VAR_B: ${{ needs.vars.outputs.VAR_B }}
  #
  #   steps:
  #     - name: If hit A and B
  #       if: |
  #         env.VAR_A == 'hello' &&
  #         env.VAR_B == 'world'
  #
  #       run: |
  #         echo VAR_A $VAR_A
  #         echo VAR_B $VAR_B
  #         echo OK
  #
  #     - name: If hit A or B
  #       if: |
  #         env.VAR_A == 'helloooo' ||
  #         env.VAR_B == 'world'
  #
  #       run: |
  #         echo VAR_A $VAR_A
  #         echo VAR_B $VAR_B
  #         echo OK
  #
  #     - name: If hit A and B or AA
  #       if: |
  #         env.VAR_A == 'hello' &&
  #         ( env.VAR_B == 'world' || env.AA == 'aaa' )
  #
  #       run: |
  #         echo VAR_A $VAR_A
  #         echo VAR_B $VAR_B
  #         echo OK
  #
  #     - name: If hit A and B or AA
  #       if: |
  #         env.VAR_A == 'hello' &&
  #         ( env.VAR_B == 'worldd' || env.AA == 'aaa' )
  #
  #       run: |
  #         echo VAR_A $VAR_A
  #         echo VAR_B $VAR_B
  #         echo OK
  #
  #     - name: If hit A and B or AA
  #       if: |
  #         env.VAR_A == 'hello' &&
  #         ( env.VAR_B == 'world' || env.AA == 'aaaa' )
  #
  #       run: |
  #         echo VAR_A $VAR_A
  #         echo VAR_B $VAR_B
  #         echo OK
  #
  #     - name: If miss
  #       if: env.VAR_A == 'helloooo'
  #       run: |
  #         echo VAR_A $VAR_A
  #         echo VAR_B $VAR_B
  #         echo MISSSSS
  #
  #
  # test-ifs-jobs-hit:
  #   needs: [vars,show-job-vars, show-step-vars]
  #   name: Test If JOB hit
  #   runs-on: ubuntu-latest
  #
  #   if: |
  #     needs.vars.outputs.VAR_A == 'hello' ||
  #     needs.vars.outputs.VAR_B == 'world'
  #
  #   steps:
  #     - name: Hit
  #       run: echo hitttttt
  #
  #
  # test-ifs-jobs-miss:
  #   needs: [vars,show-job-vars, show-step-vars]
  #   name: Test If JOB miss
  #   runs-on: ubuntu-latest
  #
  #   if: needs.vars.outputs.VAR_A == 'hellooo'
  #
  #   steps:
  #     - name: Miss
  #       run: echo misssss
