name: Test Matrix
run-name: Test Matrix

on:
  push:
    branches: [main]
    paths: [.github/workflows/test-matrix.yml]
  workflow_dispatch: {}

jobs:
  test-matrix:
    runs-on: ubuntu-latest

    strategy:
      matrix: &anchor
        somevars:
          - name: "AABBCC"
            l: "abc"
            id: a1
          - name: "DDEEFF"
            l: "def"
            id: d1
          - name: "112233"
            l: "123"
            id: 11
          - name: "445566"
            l: "456"
            id: 44
      fail-fast: false  # Continue testing other instances even if one fails

    name: Test ${{ matrix.somevars.name }} at ${{ matrix.somevars.l }} id ${{ matrix.somevars.id }}

    steps:
      - run: echo Hello
        id: a
      - run: echo "name ${{ matrix.somevars.name }}"
        id: b
      - run: echo "l ${{ matrix.somevars.l }}"
        id: c
      - run: echo "id ${{ matrix.somevars.id }}"
        id: d
      - run: echo world!
        id: e
      - run: sleep 5 && exit 1
        if: matrix.somevars.id == 44
        id: f

  next-job:
    if: '!cancelled() && always()'
    needs:
      - test-matrix
    # strategy:
    #   matrix: *anchor
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Fetch workflow run jobs"
          json_data=$(curl -s -H "Authorization: Bearer ${{ github.token }}" \
                      "https://api.github.com/repos/${{ github.repository }}/actions/runs/${{ github.run_id }}/jobs")
          echo;echo "____________________________________________"
          echo "$json_data" | jq -r '.'
          echo;echo "____________________________________________"
          name_conclusion_array=($(echo "$json_data" | jq -r '.jobs[] | select(.name | startswith("My matrix job")) | "\(.name).\(.conclusion)"'))
          printf "%s\n" "$name_conclusion_array"
          echo;echo "____________________________________________"
          for item in "${name_conclusion_array[@]}"; do
              IFS='.' read -r name conclusion <<< "$item"
              echo "Name: $name"
              echo "Conclusion: $conclusion"
          done
          echo;echo "____________________________________________"
