name: Test Matrix
run-name: Test Matrix

on:
  push:
    branches: [main]
    paths: [.github/workflows/test-matrix.yml]
  workflow_dispatch: {}

jobs:
  test-matrix:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        somevars:
          - name: "AABBCC"
            l: "abc"
            id: a1
          - name: "DDEEFF"
            l: "def"
            id: d1
          - name: "112233"
            l: "123"
            id: 11
          - name: "445566"
            l: "456"
            id: 44
      fail-fast: false  # Continue testing other instances even if one fails

    name: Test ${{ matrix.somevars.name }} at ${{ matrix.somevars.l }} id ${{ matrix.somevars.id }}

    steps:
      - run: echo Hello
      - run: echo "name ${{ matrix.somevars.name }}"
      - run: echo "l ${{ matrix.somevars.l }}"
      - run: echo "id ${{ matrix.somevars.id }}"
      - run: echo world!
      - run: exit 1

  next-job:
    if: '!cancelled() && always()'
    needs:
      - test-matrix
    runs-on: ubuntu-latest
    steps:
      - run: echo hello
