name: Test Matrix

on:
  workflow_dispatch: {}

jobs:
  test-matrix:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        somevars:
          - name: "AABBCC"
            l: "abc"
          - name: "DDEEFF"
            l: "def"
          - name: "112233"
            l: "123"
          - name: "445566"
            l: "456"
      fail-fast: false  # Continue testing other instances even if one fails

    name: Test ${{ matrix.artifactory_instance.name }}

    steps:
      - run: echo Hello
      - run: echo "Testing ${{ matrix.somevars.name }} at ${{ matrix.somevars.l }}"
        env:
          L: ${{ matrix.somevars.l }}
      - run: echo world!
